Advance queries

In [11]:
CREATE DATABASE ecolab_Book_db2

: Msg 1801, Level 16, State 3, Line 1
Database 'ecolab_Book_db2' already exists. Choose a different database name.

In [2]:
use ecolab_Book_db2

In [3]:
CREATE TABLE Authors (
    ID INT PRIMARY KEY,
    NAME VARCHAR(255)
);

In [4]:
CREATE TABLE Books (
    ID INT PRIMARY KEY,
    TITLE VARCHAR(255),
    AUTHOR_ID INT,
    PRICE FLOAT,
    FOREIGN KEY (AUTHOR_ID) REFERENCES Authors(ID)
);

In [5]:
CREATE TABLE Users (
    ID INT PRIMARY KEY,
    NAME VARCHAR(255)
);

In [6]:
CREATE TABLE Reviews (
    ID INT PRIMARY KEY,
    BOOK_ID INT,
    USER_ID INT,
    RATING INT,
    COMMENT TEXT,
    FOREIGN KEY (BOOK_ID) REFERENCES Books(ID),
    FOREIGN KEY (USER_ID) REFERENCES Users(ID)
);

In [7]:
INSERT INTO Authors (ID, NAME) VALUES (1, 'akash')
, (2, 'arun');

In [8]:
INSERT INTO Books (ID, TITLE, AUTHOR_ID, PRICE) VALUES (1, 'manas', 1, 20.99)
, (2, 'harry potter', 2, 15.50);

In [10]:
INSERT INTO Users (ID, NAME) VALUES (4, 'amar'),
 (3, 'anup');

In [ ]:
INSERT INTO Reviews (ID, BOOK_ID, USER_ID, RATING, COMMENT) VALUES (1, 1, 1, 5, 'Great book!'),
(2, 2, 2, 4, 'Enjoyed reading it.');